body{
    background-color: rgb(139, 139, 218);
}
h1{
    color: rgb(213, 213, 255);
    background-color: rgb(94, 94, 143);
}
h3{
    background-color: rgb(184, 184, 255);
}
ul{
    color: rgb(35, 35, 58);
}
a{
    display: flex;
    justify-content: right;
}