body{
    background-color: rgb(21, 21, 36);
}
h1{
    color: rgb(75, 75, 122);
    background-color: rgb(14, 14, 22);
}
h3{
    background-color: rgb(72, 72, 126);
}
ul{
    color: rgb(109, 109, 175);
}
a{
    display: flex;
    justify-content: right;
}