body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carregando {
    border: 16px solid black; 
    border-top: 16px solid gray; 
    border-radius: 100%; 
    margin-top: 250px;
    height: 100px;
    width: 100px; 
    animation: carregando 5s linear infinite; 
  }
  
  @keyframes carregando {
    0% { transform: rotate(0deg); 
    }
    100% { transform: rotate(360deg); 
    }
  }